{% extends "_layout.html" %}
{% block title %}MusicDipity{% endblock%}
{% block content %}
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1>Musicdipity</h1>
          <div class="alert alert-info" role="alert"
            <strong>Serendipity</strong>
            <i>noun</i>
            the occurrence and development of events by chance in a happy or beneficial way
          </h4>
          - <a href="http://english.oxforddictionaries.com/serendipity" target="_blank">Oxford English Dictionary</a>
          </div>
          <h6>Music can connects us even when we can’t physically be together. Musicdipity creates serendipitous music connections.</h6>
          <p>
          <a class="btn btn-primary btn-lg" href="/oauth/">Login with Spotify to get started</a>
          </p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <img class="img-fluid" src="{{ url_for('static', filename='images/Musicdipity.gif') }}" alt="Musicdipity concept gif" title="Musicdipity concept gif"/>
        </div>
      </div>
{% endblock %}