{% extends '_layout.html' %}

{% block title %}Welcome to MusicDipity, {{user.display_name }}{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="alert alert-success" role="alert">
            Congrats, you successfully logged in with Spotify, {{ user.display_name }}! 🎉
        </div>
        {% if currently_playing %}
        <div class="alert alert-primary" role="alert">
            Currently listening to 🎧🎶: {{currently_playing.artists.0.name}} - {{ currently_playing.name }}
        </div>
        {% endif %}
        Here's what you listened to most recently. We think you have AWESOME taste 💯
        <ul>
        {% for track_info in recently_played %}
            <li><a href="{{track_info.track.preview_url}}" target="_blank">{{track_info.track.artists.0.name}} - {{track_info.track.name}}</a> <i>{{track_info.played_at | humanize }}</i></li>
        {% endfor%}
        </ul>
    </div>
    <div class="alert alert-success" role="alert">
        We didn't get a chance to finish phone number auth so you can finish signing up with your friends, but we'll be in touch soon!
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img class="img-fluid" src="{{ url_for('static', filename='images/hotlinebling.gif') }}" alt="Hotline Bling gif" title="Hotline Bling gif"/>
    </div>
</div>

{% endblock %}