{% extends '_layout.html' %}

{% block title %}Welcome to MusicDipity, {{user.display_name }}{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>Congrats, you successfully logged in with Spotify, {{ user.display_name }}! 🎉</h3>

        Here's what you listened to most recently. We think you have AWESOME taste 💯
        <ul>
        {% for item in recently_played %}
            <li>{{item.track}}</li>
        {% endfor%}
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img class="img-fluid" src="{{ url_for('static', filename='images/hotlinebling.gif') }}" alt="Hotline Bling gif" title="Hotline Bling gif"/>
    </div>
</div>

{% endblock %}