{% extends '_layout.html' %}

{% block extra_head %}
<link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css" data-turbolinks-track="reload" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
{% endblock %}

{% block title %}Welcome to MusicDipity, {{user.display_name }}{% endblock%}

{% block content %}
<div class="row">
    <div clss="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        {% if user.images %}
        <img width="100" src="{{user.images.0.url}}" alt="{{user.display_name}}" title={{user.display_name}} />
        {% endif %}
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h3>Congrats, you successfully logged in with Spotify, {{ user.display_name }}! 🎉</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        Here's what you listened to most recently. We think you have AWESOME taste 💯
        <ul>
        {% for track in recently_played %}
            <li>{{track}}</li>
        {% endfor%}
        </ul>
    </div>
</div>

<div clss="row">
    <div class="col-md-12">
        <h6>Finish signing up with your phone number</h6>
        <form id="phone-signup" action="/phone-signup/" accept-charset="UTF-8" method="post">
          <div>
            <label for="authy-countries">Country code:</label>
            <select name="country_code" id="authy-countries" data-show-as="number"></select>
          </div>
          <div>
            <label for="phone_number">Phone number:</label>
            <input type="tel" name="phone_number" id="phone_number" />
          </div>
          <button name="button" type="submit">Submit</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <img class="img-fluid" src="{{ url_for('static', filename='images/hotlinebling.gif') }}" alt="Hotline Bling gif" title="Hotline Bling gif"/>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#phone-signup").submit(function(e) {
            e.preventDefault();
            
        });
    });

</script>
{% endblock %}